# Sanity CMS
# Get project ID and dataset from https://www.sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID=vmb8bp4b
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_WRITE_TOKEN=skG5t1Yx3qSqAyzpb8kTLKq555vqwCEyFqgPkDHPWoNkZMopo7opKUWrsVDhy2bYJEoWHfeBv2IVUBddSCa8gxfpov57oEPhhTEX4rB22w4c1JSscd8WMAF7qnonpS4ZGqNPKhFqwOOeXNpEy4fiBbgVa0oC3KPZGGxOAM6pBshVRryFdlO1